@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.8;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  height: 100vh;
}

main {
  height: calc(100vh - 76px);
  background-color: rgb(0, 0, 0);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  animation: bgImage 5s ease 10s forwards;
}

.text h1 {
  padding: 0 10px;
  box-shadow: 0;
  font-size: 36px;
  margin-bottom: 15px;
  color: rgb(0, 153, 255);
  position: relative;

  animation: shadow 6s ease 4s forwards;
}

.text h1::after,
.text h1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text h1:before {
  background-color: rgb(0, 0, 0);
  background-color: white;

  animation: typewriter 4s steps(17) 1s forwards;
}

.text h1:after {
  width: 0.125em;

  background-color: rgb(0, 0, 0);
  animation: typewriter 4s steps(17) 1s forwards, blink 500ms steps(17) infinite;
}

.text p {
  font-size: 24px;
  opacity: 0;
  animation: fadeIn 4s ease 6s forwards, colorChange 4s ease 8s forwards;
}

main button {
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: rgb(0, 153, 255);
  color: aliceblue;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 4s ease 6s forwards;
}

main button:hover {
  background-color: rgb(2, 76, 126);
  color: white;
}

main .socials {
  opacity: 0;
  animation: fadeIn 4s ease 6s forwards;
}

main .socials a {
  font-size: 24px;
  color: rgb(32, 32, 32);
  margin-right: 20px;

  animation: colorChange 4s ease 8s forwards;
}

main .socials a:hover {
  color: rgb(0, 153, 255);
}

@keyframes shadow {
  to {
    box-shadow: 0 3px 10px rgb(0 153 255 / 0.9);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes bgImage {
  to {
    background: rgba(34, 34, 34, 0.835) url("./img/my-face.jpeg") no-repeat
      center center;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

@keyframes colorChange {
  to {
    color: white;
  }
}
